@model FundMyPortfol.io.Models.BackerFollowCreator
@{
    ViewData["Title"] = "Follow";
}

<h2>Follow</h2>

<h4>A user can follow another</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Follow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Backer" class="control-label"></label>
                <input asp-for="BackerNavigation.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProjectCreator" class="control-label"></label>
                <input asp-for="ProjectCreatorNavigation.Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Follow" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
