@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Athens Tech College<br />
    Othonos 81, Kifisia 145 61<br />
    <abbr title="Phone">GitHub repository:</abbr>
    <a href="https://github.com/3len1/FundMyPortfol.io">FundMyPortfol.io</a>
</address>

<address>
    <strong>Team Leader - Consult:</strong> Eleni Vasilaki <a href="mailto:vseleni@gmail.com">vseleni@gmail.com</a><br />
    <strong>Consult:</strong> Maria Petrogiannou <a href="mailto:mar-petr2010@hotmail.com">mar-petr2010@hotmail.com</a><br />
    <strong>Support:</strong> Nick Papadioxos <a href="mailto:npapadioxos@gmail.com">npapadioxos@gmail.com</a><br />
    <strong>Support:</strong> Konstantinos Nikolezos <a href="mailto:kostasnikolezos@hotmail.gr">kostasnikolezos@hotmail.gr</a><br />
</address>
