@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Carousel1.jpg" alt="User" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="/Users/Create">
                        Your dreams can come true.
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Carousel2.jpg" alt="Project" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="/Projects">
                        You can find many smart ideas and innovations
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Carousel3.jpeg" alt="Donate" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="/Buy">
                        Together we can make it!!
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Carousel4.jpg" alt="Donate" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a class="btn btn-default" href="Users/Login">
                        Don't lose time
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Easy navigator</h2>
        <ul>
            <li><a href="/Buy">All</a></li>
            <li><a href="/Buy/Donates">Donates</a></li>
            <li><a href="/Follow/Followers">Followers</a></li>
            <li><a href="/Follow">Followed</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Projects shortcuts</h2>
        <ul>
            <li><a href="/Projects">All projects</a></li>
            <li><a href="/Projects/Available">Available projects</a></li>
            <li><a href="/Projects/Funded">Funded projects</a></li>
            <li><a href="/Projects/Creator">My projects</a></li>
            <li><a href="Projects/Create"> New project</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Debug</h2>
        <ul>
            <li><a href="/UserDetails">User Details</a></li>
        </ul>
    </div>
</div>
