@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    This is a simple MVC project in  C# and .Net. <br />
    Because this days is lot of work maybe it is made it in rush.
    Thanks for understanding and hope you like it 😜
</p>
