@model FundMyPortfol.io.Models.BackerBuyPackage

@{
    ViewData["Title"] = "Buy";
}

<h2>Buy package</h2>

<h4>BackerBuyPackage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form-data" asp-action="Buy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Package" class="control-label"></label>
                <input asp-for="PackageNavigation.PackageName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label"></label>
                <input asp-for="DeliveryDate" type="date" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger">
                    Date must in the next year
                </span>
            </div>
            <div class="form-group">
                <input id="submit-data" type="submit" value="Buy" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
